node_modules
out/deeeep.io-beta-client-win32-x64/chrome_100_percent.pak
out/deeeep.io-beta-client-win32-x64/chrome_200_percent.pak
out/deeeep.io-beta-client-win32-x64/d3dcompiler_47.dll
out/deeeep.io-beta-client-win32-x64/deeeep.io-beta-client.exe
out/deeeep.io-beta-client-win32-x64/ffmpeg.dll
out/deeeep.io-beta-client-win32-x64/icudtl.dat
out/deeeep.io-beta-client-win32-x64/libEGL.dll
out/deeeep.io-beta-client-win32-x64/libGLESv2.dll
out/deeeep.io-beta-client-win32-x64/LICENSE
out/deeeep.io-beta-client-win32-x64/LICENSES.chromium.html
out/deeeep.io-beta-client-win32-x64/resources.pak
out/deeeep.io-beta-client-win32-x64/snapshot_blob.bin
out/deeeep.io-beta-client-win32-x64/Squirrel.exe
out/deeeep.io-beta-client-win32-x64/v8_context_snapshot.bin
out/deeeep.io-beta-client-win32-x64/version
out/deeeep.io-beta-client-win32-x64/vk_swiftshader_icd.json
out/deeeep.io-beta-client-win32-x64/vk_swiftshader.dll
out/deeeep.io-beta-client-win32-x64/vulkan-1.dll
out/deeeep.io-beta-client-win32-x64/locales/af.pak
out/deeeep.io-beta-client-win32-x64/locales/am.pak
out/deeeep.io-beta-client-win32-x64/locales/ar.pak
out/deeeep.io-beta-client-win32-x64/locales/bg.pak
out/deeeep.io-beta-client-win32-x64/locales/bn.pak
out/deeeep.io-beta-client-win32-x64/locales/ca.pak
out/deeeep.io-beta-client-win32-x64/locales/cs.pak
out/deeeep.io-beta-client-win32-x64/locales/da.pak
out/deeeep.io-beta-client-win32-x64/locales/de.pak
out/deeeep.io-beta-client-win32-x64/locales/el.pak
out/deeeep.io-beta-client-win32-x64/locales/en-GB.pak
out/deeeep.io-beta-client-win32-x64/locales/en-US.pak
out/deeeep.io-beta-client-win32-x64/locales/es-419.pak
out/deeeep.io-beta-client-win32-x64/locales/es.pak
out/deeeep.io-beta-client-win32-x64/locales/et.pak
out/deeeep.io-beta-client-win32-x64/locales/fa.pak
out/deeeep.io-beta-client-win32-x64/locales/fi.pak
out/deeeep.io-beta-client-win32-x64/locales/fil.pak
out/deeeep.io-beta-client-win32-x64/locales/fr.pak
out/deeeep.io-beta-client-win32-x64/locales/gu.pak
out/deeeep.io-beta-client-win32-x64/locales/he.pak
out/deeeep.io-beta-client-win32-x64/locales/hi.pak
out/deeeep.io-beta-client-win32-x64/locales/hr.pak
out/deeeep.io-beta-client-win32-x64/locales/hu.pak
out/deeeep.io-beta-client-win32-x64/locales/id.pak
out/deeeep.io-beta-client-win32-x64/locales/it.pak
out/deeeep.io-beta-client-win32-x64/locales/ja.pak
out/deeeep.io-beta-client-win32-x64/locales/kn.pak
out/deeeep.io-beta-client-win32-x64/locales/ko.pak
out/deeeep.io-beta-client-win32-x64/locales/lt.pak
out/deeeep.io-beta-client-win32-x64/locales/lv.pak
out/deeeep.io-beta-client-win32-x64/locales/ml.pak
out/deeeep.io-beta-client-win32-x64/locales/mr.pak
out/deeeep.io-beta-client-win32-x64/locales/ms.pak
out/deeeep.io-beta-client-win32-x64/locales/nb.pak
out/deeeep.io-beta-client-win32-x64/locales/nl.pak
out/deeeep.io-beta-client-win32-x64/locales/pl.pak
out/deeeep.io-beta-client-win32-x64/locales/pt-BR.pak
out/deeeep.io-beta-client-win32-x64/locales/pt-PT.pak
out/deeeep.io-beta-client-win32-x64/locales/ro.pak
out/deeeep.io-beta-client-win32-x64/locales/ru.pak
out/deeeep.io-beta-client-win32-x64/locales/sk.pak
out/deeeep.io-beta-client-win32-x64/locales/sl.pak
out/deeeep.io-beta-client-win32-x64/locales/sr.pak
out/deeeep.io-beta-client-win32-x64/locales/sv.pak
out/deeeep.io-beta-client-win32-x64/locales/sw.pak
out/deeeep.io-beta-client-win32-x64/locales/ta.pak
out/deeeep.io-beta-client-win32-x64/locales/te.pak
out/deeeep.io-beta-client-win32-x64/locales/th.pak
out/deeeep.io-beta-client-win32-x64/locales/tr.pak
out/deeeep.io-beta-client-win32-x64/locales/uk.pak
out/deeeep.io-beta-client-win32-x64/locales/ur.pak
out/deeeep.io-beta-client-win32-x64/locales/vi.pak
out/deeeep.io-beta-client-win32-x64/locales/zh-CN.pak
out/deeeep.io-beta-client-win32-x64/locales/zh-TW.pak
out/deeeep.io-beta-client-win32-x64/resources/app/.gitignore
out/deeeep.io-beta-client-win32-x64/resources/app/index.html
out/deeeep.io-beta-client-win32-x64/resources/app/index.js
out/deeeep.io-beta-client-win32-x64/resources/app/package.json
out/deeeep.io-beta-client-win32-x64/resources/app/README.md
out/deeeep.io-beta-client-win32-x64/resources/app/img/1.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/2.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/3.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/4.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/5.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/6.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/7.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/8.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/9_plus.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/9.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/empty.png
out/deeeep.io-beta-client-win32-x64/resources/app/img/icon.png
out/deeeep.io-beta-client-win32-x64/resources/app/theme/background.js
out/deeeep.io-beta-client-win32-x64/resources/app/theme/icon.png
out/deeeep.io-beta-client-win32-x64/resources/app/theme/manifest.json
out/deeeep.io-beta-client-win32-x64/resources/app/theme/options.html
out/deeeep.io-beta-client-win32-x64/resources/app/theme/options.js
out/deeeep.io-beta-client-win32-x64/resources/app/theme/pages.css
out/deeeep.io-beta-client-win32-x64/resources/app/theme/README.md
out/deeeep.io-beta-client-win32-x64/resources/app/theme/images/deep-background-blurry.png
out/deeeep.io-beta-client-win32-x64/resources/app/theme/images/icon.png
out/make/squirrel.windows/x64/deeeep.io_beta_client-1.0.0-full.nupkg
out/make/squirrel.windows/x64/deeeep.io-beta-client-1.0.0 Setup.exe
out/make/squirrel.windows/x64/RELEASES
out/deeeep.io-beta-client-win32-x64/resources/app/yarn-error.log
out/deeeep.io-beta-client-win32-x64/resources/app/img/evolution_tree_themed.png
release-builds/deeeepio-win32-ia32/chrome_100_percent.pak
release-builds/deeeepio-win32-ia32/chrome_200_percent.pak
release-builds/deeeepio-win32-ia32/d3dcompiler_47.dll
release-builds/deeeepio-win32-ia32/deeeepio.exe
release-builds/deeeepio-win32-ia32/ffmpeg.dll
release-builds/deeeepio-win32-ia32/icudtl.dat
release-builds/deeeepio-win32-ia32/libEGL.dll
release-builds/deeeepio-win32-ia32/libGLESv2.dll
release-builds/deeeepio-win32-ia32/LICENSE
release-builds/deeeepio-win32-ia32/LICENSES.chromium.html
release-builds/deeeepio-win32-ia32/resources.pak
release-builds/deeeepio-win32-ia32/snapshot_blob.bin
release-builds/deeeepio-win32-ia32/v8_context_snapshot.bin
release-builds/deeeepio-win32-ia32/version
release-builds/deeeepio-win32-ia32/vk_swiftshader_icd.json
release-builds/deeeepio-win32-ia32/vk_swiftshader.dll
release-builds/deeeepio-win32-ia32/vulkan-1.dll
release-builds/deeeepio-win32-ia32/locales/af.pak
release-builds/deeeepio-win32-ia32/locales/am.pak
release-builds/deeeepio-win32-ia32/locales/ar.pak
release-builds/deeeepio-win32-ia32/locales/bg.pak
release-builds/deeeepio-win32-ia32/locales/bn.pak
release-builds/deeeepio-win32-ia32/locales/ca.pak
release-builds/deeeepio-win32-ia32/locales/cs.pak
release-builds/deeeepio-win32-ia32/locales/da.pak
release-builds/deeeepio-win32-ia32/locales/de.pak
release-builds/deeeepio-win32-ia32/locales/el.pak
release-builds/deeeepio-win32-ia32/locales/en-GB.pak
release-builds/deeeepio-win32-ia32/locales/en-US.pak
release-builds/deeeepio-win32-ia32/locales/es-419.pak
release-builds/deeeepio-win32-ia32/locales/es.pak
release-builds/deeeepio-win32-ia32/locales/et.pak
release-builds/deeeepio-win32-ia32/locales/fa.pak
release-builds/deeeepio-win32-ia32/locales/fi.pak
release-builds/deeeepio-win32-ia32/locales/fil.pak
release-builds/deeeepio-win32-ia32/locales/fr.pak
release-builds/deeeepio-win32-ia32/locales/gu.pak
release-builds/deeeepio-win32-ia32/locales/he.pak
release-builds/deeeepio-win32-ia32/locales/hi.pak
release-builds/deeeepio-win32-ia32/locales/hr.pak
release-builds/deeeepio-win32-ia32/locales/hu.pak
release-builds/deeeepio-win32-ia32/locales/id.pak
release-builds/deeeepio-win32-ia32/locales/it.pak
release-builds/deeeepio-win32-ia32/locales/ja.pak
release-builds/deeeepio-win32-ia32/locales/kn.pak
release-builds/deeeepio-win32-ia32/locales/ko.pak
release-builds/deeeepio-win32-ia32/locales/lt.pak
release-builds/deeeepio-win32-ia32/locales/lv.pak
release-builds/deeeepio-win32-ia32/locales/ml.pak
release-builds/deeeepio-win32-ia32/locales/mr.pak
release-builds/deeeepio-win32-ia32/locales/ms.pak
release-builds/deeeepio-win32-ia32/locales/nb.pak
release-builds/deeeepio-win32-ia32/locales/nl.pak
release-builds/deeeepio-win32-ia32/locales/pl.pak
release-builds/deeeepio-win32-ia32/locales/pt-BR.pak
release-builds/deeeepio-win32-ia32/locales/pt-PT.pak
release-builds/deeeepio-win32-ia32/locales/ro.pak
release-builds/deeeepio-win32-ia32/locales/ru.pak
release-builds/deeeepio-win32-ia32/locales/sk.pak
release-builds/deeeepio-win32-ia32/locales/sl.pak
release-builds/deeeepio-win32-ia32/locales/sr.pak
release-builds/deeeepio-win32-ia32/locales/sv.pak
release-builds/deeeepio-win32-ia32/locales/sw.pak
release-builds/deeeepio-win32-ia32/locales/ta.pak
release-builds/deeeepio-win32-ia32/locales/te.pak
release-builds/deeeepio-win32-ia32/locales/th.pak
release-builds/deeeepio-win32-ia32/locales/tr.pak
release-builds/deeeepio-win32-ia32/locales/uk.pak
release-builds/deeeepio-win32-ia32/locales/ur.pak
release-builds/deeeepio-win32-ia32/locales/vi.pak
release-builds/deeeepio-win32-ia32/locales/zh-CN.pak
release-builds/deeeepio-win32-ia32/locales/zh-TW.pak
release-builds/deeeepio-win32-ia32/resources/app.asar
node_modules/minipass-sized/.gitignore
node_modules/minipass-sized/index.js
node_modules/minipass-sized/LICENSE
node_modules/minipass-sized/package-lock.json
node_modules/minipass-sized/package.json
node_modules/minipass-sized/README.md
release-builds/Deeeep.io-win32-ia32/chrome_100_percent.pak
release-builds/Deeeep.io-win32-ia32/chrome_200_percent.pak
release-builds/Deeeep.io-win32-ia32/d3dcompiler_47.dll
release-builds/Deeeep.io-win32-ia32/Deeeep.io.exe
release-builds/Deeeep.io-win32-ia32/ffmpeg.dll
release-builds/Deeeep.io-win32-ia32/icudtl.dat
release-builds/Deeeep.io-win32-ia32/libEGL.dll
release-builds/Deeeep.io-win32-ia32/libGLESv2.dll
release-builds/Deeeep.io-win32-ia32/LICENSE
release-builds/Deeeep.io-win32-ia32/LICENSES.chromium.html
release-builds/Deeeep.io-win32-ia32/resources.pak
release-builds/Deeeep.io-win32-ia32/snapshot_blob.bin
release-builds/Deeeep.io-win32-ia32/Squirrel.exe
release-builds/Deeeep.io-win32-ia32/v8_context_snapshot.bin
release-builds/Deeeep.io-win32-ia32/version
release-builds/Deeeep.io-win32-ia32/vk_swiftshader_icd.json
release-builds/Deeeep.io-win32-ia32/vk_swiftshader.dll
release-builds/Deeeep.io-win32-ia32/vulkan-1.dll
release-builds/Deeeep.io-win32-ia32/locales/af.pak
release-builds/Deeeep.io-win32-ia32/locales/am.pak
release-builds/Deeeep.io-win32-ia32/locales/ar.pak
release-builds/Deeeep.io-win32-ia32/locales/bg.pak
release-builds/Deeeep.io-win32-ia32/locales/bn.pak
release-builds/Deeeep.io-win32-ia32/locales/ca.pak
release-builds/Deeeep.io-win32-ia32/locales/cs.pak
release-builds/Deeeep.io-win32-ia32/locales/da.pak
release-builds/Deeeep.io-win32-ia32/locales/de.pak
release-builds/Deeeep.io-win32-ia32/locales/el.pak
release-builds/Deeeep.io-win32-ia32/locales/en-GB.pak
release-builds/Deeeep.io-win32-ia32/locales/en-US.pak
release-builds/Deeeep.io-win32-ia32/locales/es-419.pak
release-builds/Deeeep.io-win32-ia32/locales/es.pak
release-builds/Deeeep.io-win32-ia32/locales/et.pak
release-builds/Deeeep.io-win32-ia32/locales/fa.pak
release-builds/Deeeep.io-win32-ia32/locales/fi.pak
release-builds/Deeeep.io-win32-ia32/locales/fil.pak
release-builds/Deeeep.io-win32-ia32/locales/fr.pak
release-builds/Deeeep.io-win32-ia32/locales/gu.pak
release-builds/Deeeep.io-win32-ia32/locales/he.pak
release-builds/Deeeep.io-win32-ia32/locales/hi.pak
release-builds/Deeeep.io-win32-ia32/locales/hr.pak
release-builds/Deeeep.io-win32-ia32/locales/hu.pak
release-builds/Deeeep.io-win32-ia32/locales/id.pak
release-builds/Deeeep.io-win32-ia32/locales/it.pak
release-builds/Deeeep.io-win32-ia32/locales/ja.pak
release-builds/Deeeep.io-win32-ia32/locales/kn.pak
release-builds/Deeeep.io-win32-ia32/locales/ko.pak
release-builds/Deeeep.io-win32-ia32/locales/lt.pak
release-builds/Deeeep.io-win32-ia32/locales/lv.pak
release-builds/Deeeep.io-win32-ia32/locales/ml.pak
release-builds/Deeeep.io-win32-ia32/locales/mr.pak
release-builds/Deeeep.io-win32-ia32/locales/ms.pak
release-builds/Deeeep.io-win32-ia32/locales/nb.pak
release-builds/Deeeep.io-win32-ia32/locales/nl.pak
release-builds/Deeeep.io-win32-ia32/locales/pl.pak
release-builds/Deeeep.io-win32-ia32/locales/pt-BR.pak
release-builds/Deeeep.io-win32-ia32/locales/pt-PT.pak
release-builds/Deeeep.io-win32-ia32/locales/ro.pak
release-builds/Deeeep.io-win32-ia32/locales/ru.pak
release-builds/Deeeep.io-win32-ia32/locales/sk.pak
release-builds/Deeeep.io-win32-ia32/locales/sl.pak
release-builds/Deeeep.io-win32-ia32/locales/sr.pak
release-builds/Deeeep.io-win32-ia32/locales/sv.pak
release-builds/Deeeep.io-win32-ia32/locales/sw.pak
release-builds/Deeeep.io-win32-ia32/locales/ta.pak
release-builds/Deeeep.io-win32-ia32/locales/te.pak
release-builds/Deeeep.io-win32-ia32/locales/th.pak
release-builds/Deeeep.io-win32-ia32/locales/tr.pak
release-builds/Deeeep.io-win32-ia32/locales/uk.pak
release-builds/Deeeep.io-win32-ia32/locales/ur.pak
release-builds/Deeeep.io-win32-ia32/locales/vi.pak
release-builds/Deeeep.io-win32-ia32/locales/zh-CN.pak
release-builds/Deeeep.io-win32-ia32/locales/zh-TW.pak
release-builds/Deeeep.io-win32-ia32/resources/app.asar
release-builds/windows-installer/deeeep.io-beta-client-1.0.0-full.nupkg
release-builds/windows-installer/Pi-DDC-setup-v1.0.0.exe
release-builds/windows-installer/RELEASES
release-builds/windows-installer/Setup.wxs
release-builds/windows-installer/deeeep.io.1.0.0.nupkg
release-builds/windows-installer/Setup.exe
release-builds/windows-installer/deeeep.io-1.0.0-full.nupkg
release-builds/windows-installer/deeeep.io.1.0.0.nupkg
release-builds/windows-installer/Pi-DDC-setup.exe
.vscode/launch.json
release-builds/
yarn-error.log
notes
test.html
plugins/allEmotes.js
